{% extends 'base.html' %}
{% block title%}Campaign{% endblock %}
{% load static %}
{% block content %}

<div class="detail__name">
    <h1 class="title">{{ campaign.title }}</h1>
</div>
<table class="table">
    <tbody>
        <tr>
            <th>Schedule</th>
            <td>{{ campaign.schedule }}</td>
        </tr>
        <tr>
            <th>Frequency</th>
            <td>{{ campaign.frequency }}</td>
        </tr>
        <tr>
            <th>Current Number of Players</th>
            <td>{{ campaign.currentNumber }}</td>
        </tr>
        <tr>
            <th>Number of Players Needed</th>
            <td>{{ campaign.neededNumber }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ campaign.location }}</td>
        </tr>
    </tbody>
</table>
<div class="box">
    <h3 class="title">Details</h3>
    {{ campaign.details}}
</div>

{% if campaign.user.id != user.id %}
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'campaign_update' campaign.pk %}" class="button is-info is-hidden"> Edit
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'campaign_delete' campaign.pk %}" class="button is-danger is-hidden"> Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
</div>
{% else %}
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'campaign_update' campaign.pk %}" class="button is-info"> Edit
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'campaign_delete' campaign.pk %}" class="button is-danger"> Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
</div>
{% endif %}

<div class="detail__characters mb-5">
    <h3 class="name title">Current Players</h3>

    {% for character in campaign.characters.all %}
        <div class="columns is-centered">
            <div class="column">
                {{ character.name }}
                {{ character.subrace }}
                {{ character.class }}
                {% if character.user.id == user.id %}
                    <a href="{% url 'campaign_character_assoc' campaign.pk character.pk %}?assoc=remove"
                    class="button is-danger is-outlined">
                    <span class="icon is-small">
                        <i class="fas fa-times"></i>
                    </span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Current Players</p>
            </div>
        </article>
    {% endfor %}
</div>

<div class="detail__container">
    <!-- inside container -->
<div class="detail__character mb-5">

    <h3 class="title is-3">Add Characters</h3>
    {% if user.is_authenticated %}
        {% for character in characters.all %}
            <span>
                <button class="button has-background-success">
                    <a href="{% url 'campaign_character_assoc' campaign.pk character.pk %}?assoc=add">
                        <span class="has-text-dark">Add to Campaign</span>
                        <div class="character">
                            <span class="has-text-dark">{{character.name}}: {{character.race}} {{character.class}}</span>
                        </div>
                    </a>       
                </button>
            </span>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Characters Available</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
    <span class="button is-primary">
        <a class="button is-light" href="{% url 'login' %}">Log in</a>
        <a class="button is-light" href="{% url 'signup' %}">Sign Up</a>
    </span>
    {% endif %}
</div>

{% endblock %}