{% extends 'base.html' %}
{% block title%}Character{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-body">
        <p class="title">{{ character.name }}</p>
        <p class="subtitle">{{ character.subrace }} | {{ character.class }}</p>
    </div>
</section>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Strength</p>
            <p class="title>">{{ character.strength }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Dexterity</p>
            <p class="title>">{{ character.dexterity }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Constitution</p>
            <p class="title>">{{ character.constitution }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Intelligence</p>
            <p class="title>">{{ character.intelligence }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Wisdom</p>
            <p class="title>">{{ character.wisdom }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Charisma</p>
            <p class="title>">{{ character.charisma }}</p>
        </div>
    </div>
</nav>
<table class="table">
    <tbody>
        <tr>
            <th>Background</th>
            <td>{{ character.background }}</td>
        </tr>
        <tr>
            <th>Skill Proficiencies</th>
            <td>{{ character.skillProficiency }}</td>
        </tr>
    </tbody>
</table>
</table>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'character_update' character.pk %}" class="button is-info"> Edit
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/characters/{{character.pk}}/delete" class="button is-danger"> Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
</div>

{% endblock %}