{% extends 'base.html' %}
{% block title%}Character{% endblock %}

{% block content %}

<div class="detail__name">
    <h1 class="title">{{ character.name }}</h1>
</div>
<div class="detail__about">
    <h2 class="title is-4">{{ character.race }}</h2>
    <h2 class="title is-4">{{ character.subrace }}</h2>
    <h2 class="title is-4">{{ character.class }}</h2>
    <h2 class="title is-4">{{ character.background }}</h2>
    <h2 class="title is-4">{{ character.skillProficiency }}</h2>
    <h2 class="title is-4">{{ character.strength }}</h2>
    <h2 class="title is-4">{{ character.dexterity }}</h2>
    <h2 class="title is-4">{{ character.constitution }}</h2>
    <h2 class="title is-4">{{ character.intelligence }}</h2>
    <h2 class="title is-4">{{ character.wisdom }}</h2>
    <h2 class="title is-4">{{ character.charisma }}</h2>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'character_update' character.pk %}" class="button is-info"> Edit
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/characters/{{character.pk}}/delete" class="button is-danger"> Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
</div>

{% endblock %}